.solid-rectangle {
    background-color: #dadada;
  }
  
  .interface-b-header {
    padding-bottom: 10%;
    margin-bottom: -8%;
  }
  
  .margin-row {
    margin-bottom: 5%;
  }
  
  .interface-b-title {
    padding-top: 2%;
  }