.header-nav {
    background-color: #666666;
}

.header-nav {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #111;
    color: white;
}

.article-container {
    width: 56%;
    margin: 5%;
    background-color: white;
}

.article-desc {
    padding: 5%;
    margin-bottom: 2%;
    background-color: #c7c7c7;
}

.main-container {
    display: flex;
}

.sidebar-right {
    width: 23%;
    margin: 5%;
}

.search-bar-container {
    padding: 5%;
    background-color: #c7c7c7;
    text-align: center;
}

.right-nav {
    margin-top: 5%;
    padding: 5%;
    background-color: #c7c7c7;
}

.right-nav li {
    display: block;
    padding: 2% 0 0 5%;
}

footer {
    background-color: #666666;
    padding: 2%;
}

footer p {
    display: inline-block;
}

.acticle-footer {
    display: flex;
    flex-grow: 1;
    color:aqua;
}


